<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="install" type="CodePlex.SharePointInstaller.Configuration.InstallConfiguration, Setup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cb87ba0215b862e1"/>
    <section name="commands" type="CodePlex.SharePointInstaller.Configuration.CommandsConfiguration, Setup, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cb87ba0215b862e1" />
  </configSections>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="logo.jpg"/>
    <add key="Vendor" value=""/>
    <add key="AllowUpgrade" value="true"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="InstallationName" value="CSSoft User Change Password Tools v1.0.0.0"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RequireMoss" value="MOSS"/>
    <add key="Require2010" value="SPS"/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="false"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>
    <add key="SolutionId" value="{e2120ad1-f8aa-4fc3-9ae4-84dec47619a2}"/>
    <add key="DefaultDeployToAdminWebApplications" value="false"/>
    <add key="DefaultDeployToContentWebApplications" value="false"/>
  </appSettings>
  <install>
    <solutions xmlns="http://sharepointinstaller.codeplex.com/config">
      <solution id="{e2120ad1-f8aa-4fc3-9ae4-84dec47619a2}">
        <parameters>
          <parameter name="Title" value="Feature allow the user change password in Active Directory (AD)"/>
          <parameter name="File" value="CSSoft.CS2SPUsers.wsp"/>
          <parameter name="Version" value="1.0.0.0"/>
        </parameters>
        <features>
          <feature name="CSSoft User Change Password Tools" id="6505dfd6-e24f-4918-92ae-20a8b0fcae92" scope="Site"/>
        </features>
      </solution>
    </solutions>
  </install>
</configuration>