<?xml version="1.0" encoding="utf-16"?>
<ServerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ListServers>
    <Server Url="http://localhost/" Default="false" />
    <Server Url="http://localhost:9999/" Default="false" />
    <Server Url="http://pc-0252:8899/" Default="false" />
    <Server Url="http://pc-0252/" Default="false" />
    <Server Url="http://pc-0252:2012/" Default="false" />
    <Server Url="http://pc-0252:9003/" Default="true" />
  </ListServers>
</ServerConfig>